<p>contact works!</p>
<h2>contact list</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>Body</th>
        </tr>
        <tr *ngFor="let contact of contactArray">
            <td>{{contact.id}}</td>
            <td>{{contact.title}}</td>
            <td>{{contact.body}}</td>
        </tr>
    </thead>
</table>

    <form class="form-control" [formGroup] = "contactForm">
    <label for="idControl">ID</label>
    <input type="number" formControlName = "idControl" class="form-control col-4 row-1">
    
    <label for="nameControl">Name</label>
    <input type="text" formControlName = "nameControl" class="form-control col-4 row-1">
</form>
<br><br>
<div class="container">
<button type="button" class="btn btn-success" (click)="addNewContact()">add</button>
<button type="button" class="btn btn-warning">edit</button>
</div>



