#videoBackground {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}
.content{
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    padding-left: 40px;
}